.Blog1 {
  color: blueviolet;
}

.important {
  color: red;
  font-style: italic;
}

.AboutMe {
  color: rgb(64, 7, 155);
  margin-top: 25px;
  margin-bottom: 25px;
}

body {
  background-color: darkgoldenrod;
}